.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav {
    &__element {
      padding: 0 26px;
    }

    &__link {
      color: $color-dark-grey;
      font-weight: 700;
      font-size: 0.75rem;
      text-transform: uppercase;
      padding: 28px 18px 22px;
      border-bottom: 3px solid transparent;
      letter-spacing: 0.1rem;
      text-decoration: none;

      &:hover {
        color: $color-black;
        border-color: $color-orange;
      }
    }
  }

  &__nav {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;

    @include mobile {
      position: absolute;
      left: 0;
      top: 160px;
      flex-direction: column;
      background-color: $color-white;
      width: 100%;
      display: none;
      z-index: 2;

      .nav__element {
        padding: 0;
      }

      .nav__link {
        display: block;
        padding: 14px 20px;
      }
    }
  }

  .menu {
    &__btn {
      display: none;
      position: absolute;
      top: -9999px;
      left: -9999px;
      opacity: 0;

      @include mobile {
        &:checked {
          ~ .header__nav {
            display: flex;
          }

          ~ .menu__toggle {
            span {
              &:nth-child(1) {
                transform: rotate(45deg) translate(2px, 5px);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: rotate(-45deg) translate(2px, -5px);
              }
            }
          }
        }
      }
    }

    &__toggle {
      display: none;

      &:hover {
        cursor: pointer;
      }

      span {
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 3px;
        background-color: $color-brown;
        transition: .3s all ease-in-out;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include mobile {
        display: block;
      }
    }
  }
}

