.quote {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  &__text {
    font-family: $font-dancing-script;
    font-size: 2.75rem;
    font-weight: 500;
    color: $color-orange;
    text-align: center;
  }
}

.quote-box {
  max-width: 550px;
  display: flex;
}