.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

/* products */

h2 {
    padding: 20px;
    border-bottom: 1px solid $color-light-grey;
    font-family: $font-tenor-sans;

    @include mobile {
        text-align: center;
        padding: 10px;
    }
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    font-family: $font-tenor-sans;

    .product-card {
        width: 300px;
        height: auto;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        box-shadow: 5px 5px 4px $color-light-grey;
        position: relative;

        .product-img {
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .product-name {
            display: block;
            width: 100%;
            color: $color-orange;
            margin-top: 5px;
            font-size: 16px;
        }

        .product-price {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .addcart-btn {
            background-color: $color-orange;
            color: $color-white;
            border: hidden;
            cursor: pointer;
            width: 100%;
            padding: 10px 14px;
            margin-top: 5px;
            margin-bottom: 2px;
            outline: none;
        }
    }
}
